<div id="sidebarElementsContainer">
    <% if(sideBar["subjects"].length > 0){ %>
    <a class="toggle" rel="subjects">
      <i class="spr ico-arrow-list active"></i> Materias
    </a>
    <div class="cont-subjects">
      <ul>
        <% for(var i=0; i < sideBar["subjects"].length; i++){ %>
        <li>
          <input <% if( $.cookie("subjects") !== null && $.cookie("subjects").indexOf( sideBar["subjects"][i].ce_component_id ) >= 0 ){ %> checked <% } %> data-filter="<%= sideBar["subjects"][i].ce_component_id %>" id="box_<%= sideBar["subjects"][i].ce_component_id %>" class="checkbox fc-<%= sideBar["subjects"][i].c_color %>" rel="<%= sideBar["subjects"][i].ce_component_id %>" type="checkbox"/>
          <label for="box_<%= sideBar["subjects"][i].ce_component_id %>" name="lbl_<%= sideBar["subjects"][i].ce_component_id %>" class="chk-label fc-<%= sideBar["subjects"][i].c_color %>"><%= sideBar["subjects"][i].c_name %></label>
        </li>
        <% } %>
      </ul>
    </div>
    <% } %>
    <div class="clearfix"></div>
    <% if(sideBar["hasTutorias"].length > 0){ %>
    
      <a class="toggle" rel="tutorias">
        <i class="spr ico-arrow-list active"></i> Tutorías
      </a>

      <div class="cont-tutorias">
        <ul>
          <li>
            <input <% if( $.cookie("tutorias") === null || $.cookie("tutorias") == "CLASS" ){ %> checked <% } %> data-filter="CLASS" id="box_live" class="checkbox fc-violet" rel="live" type="checkbox"/>
            <label for="box_live" name="lbl_live" class="chk-label fc-violet">Clases en vivo</label>
          </li>
        </ul>
      </div>
    <% } %>
</div>