<% for(var i=0; i < contacts.length; i++){ %>
    <a id="<%= contacts[i].id %>" href="#" class="inbox box-data-user" data-chat="<%= contacts[i].last_message.id %>" data-user="<%= contacts[i].id %>" data-name="<%= contacts[i].nickname.toLowerCase() %>" class="<% if(!(contacts[i].last_message instanceof Array)){ %>active<% } %>" data-updated="<%= contacts[i].last_message.date %>" >
      <span class="cont-chat cont-ico">
        <i class="spr ico-chat  <% if(contacts[i].last_message instanceof Array){ %>hidden<% } %>"></i>
      </span>
      <span class="cont-text">
        <span class="name">
            <span>
                <%= contacts[i].nickname %>
            </span>
        </span>
        <span class="abstract">
            <%= contacts[i].last_message.content %>
        </span>
        <span class="time">-</span>
      </span>
    </a>
<% } %>